body {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(253, 239, 132) 0%,
    #f7c6a9 54.2%,
    rgb(21, 186, 196) 100.3%
  );
  min-height: 100vh;
}

h1 {
  text-align: center;
  text-align: center;
  font-size: 38px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  font-size: 18px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 500px;
  margin: 60px auto;
  background-color: white;
  padding: 30px 60px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}

.city {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  padding: 25px 0;
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 44px;
  font-weight: bold;
}

.time small {
  font-size: 20px;
  vertical-align: middle;
}

footer {
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 60px;
}

footer a {
  color: rgb(13, 103, 108);
}
